
    <div class="container">
	<div id="itemdetail-content" class="itemdetail-bookmark"></div>
        <div class="row row-content" ng-controller="ItemDetailController">
            <div class="col-xs-12" ng-if="!showItem">
                <h3>{{message}}</h3>
            </div>
            <div class="col-xs-12 col-md-6" ng-if="showItem">
                <div class="media">
                    <div class="media-middle">
                        <a ng-href="http://learn-to-read-foreign-languages.com/collections/{{item.category | lowercase}}" target="_blank">
                        <img class="img-responsive cover"
                         ng-src={{item.image}} alt={{item.name}}>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6" ng-if="showItem">
                <div class="media-body itemdetail-prestyled-text">
                        <p>{{item.description}}</p>
                </div>
                <button class="btn btn-xs btn-primary pull-right btn-bottom"
                    type="button" ui-sref="app.items">
                    Back to Items
                </button>
            </div>
        </div>
		<!-- make sure there's room under the last row line -->
		<div>
			<br><br><br>
		</div>
        
    </div>

