.row-header {
  margin: 0px auto;
  padding: 0px 0px;
}
.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}
.row-footer {
  margin: 0px auto;
  padding: 20px 0px;
  background-color: #AfAfAf;
}
.jumbotron-billboard .img {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  color: floralwhite;
  background: url('../images/background.png') no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: hidden;
  position:absolute;
  top:0;left:0;
  z-index:1;
}
.jumbotron {position:relative;padding:50px;}
.jumbotron .container {z-index:2;
 position:relative;
  z-index:2;
}
.link {
    cursor: pointer;
}
.thumb {
  height: 100px;
}
.cover {
  max-height: 800px;
}
.itemdetail-bookmark {
  position: relative;
  top: -40px;
}
.itemdetail-prestyled-text {
  white-space:pre-wrap;
}
.img-thumbnail {
  height: 220px;
}
.headerlogo {
  max-height: 150px;
}
.img-original {
  max-width: 800px;
}
.central {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.capitalize {
   text-transform: capitalize;
}
.carousel {
  background: transparent;
}
.carousel-control.left, .carousel-control.right {
    background-image: none
}
.carousel .item {
  height: 500px;
}
.carousel .item img {
  height: 100%;
}
.script {
  position: relative;
  font-family: script, sans-serif;
  font-size: 550%;
  z-index: 4;
}

.navbar-middle {
  position: fixed;
  margin-top: 10px;
  margin-right: 10px;
  right: 60px;
  color: #ffffff;
}

.navbar-inverse {
  background: #303f1f;
  background: #780003;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .active > a {
  background: #1a237e;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .active > a:hover {
  background: #1a237e;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .active > a:focus {
  background: #1a237e;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a {
  background: #1a237e;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a:hover {
  background: #1a237e;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a:focus {
  background: #1a237e;
  color: #ffffff;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
  background-color: #303f9f;
  color: #eeeeee;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
  color: #000000;
}
.navbar-inverse .navbar-nav .open .dropdown-menu {
  background-color: #303f9f;
  color: #eeeeee;
}
address {
  color: #0f0f0f;
  font-size: 80%;
  margin: 0px;
}
body {
  align: center;
  padding: 50px 0px 0px 0px;
  z-index: 0;
}
.tab-content {
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  padding: 10px;
}
.affix {
  top: 100px;
}
#carouselButtons {
  bottom: 0px;
  position: absolute;
  right: 0px;
}
